PUBLIC_MAPBOX_TOKEN=your-mapbox-token
PUBLIC_MAP_STYLE=mapbox://styles/your-account/your-style
PUBLIC_DATA_URL=https://content.osu.edu/v2/bus/routes/CC/vehicles
PUBLIC_ROUTE_URL=https://content.osu.edu/v2/bus/routes/CC
PUBLIC_MOUNT_HALL_STOP_ID=501
